/* PHASE 2: Notifications */
.notif-badge {
  display: inline;
  font-size: 14px;
  padding: 1px 6px;
  background: #000;
  border-radius: 50%;
}

.notifications:hover .header-nav-notif {
  display: block;
}

.notifications:hover .notif-badge{
  background: #f00;
}

.header-nav-notif {
  display: none;
  left: -1px;
  position: absolute;
  background: #fff;
  color: #000;
  width: 234px;
  font-size: 14px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}

.header-nav-notif > li {
  border-top: 1px solid #ccc;
}

.header-nav-notif > li:hover {
  background: #eee;

}
