/* PHASE 3: Layout */
.content {
  margin: 0 auto;
  background: #fff;
  width: 900px;
  display: block;
  min-height: 240px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.content-main {
  float: right;
  background: #fff;
  min-height: 240px;
  width: 659px;
}

.content-sidebar {
  float: left;
  min-height: 240px;
  background: #fff;
  width: 200px;
  padding: 20px;
  border-right: 1px solid #ccc;
  color: #000;
}
