/* PHASE 4: Footer */
footer {
  margin: 0 auto;
  background: #fff;
  width: 900px;
  display: block;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #aaa;
  font-size: 14px;
  border-radius: 0 0 5px 5px;

}

small {
  float: left;
  padding: 20px 20px;

}

.footer-links {
  float: right;
}

.footer-links > li {
  float: left;
  padding: 20px 20px 20px 0px;
  /*position:*/
}

.footer-links > li:hover {
  color: #000;
}
